* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.header {
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

.menu_icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.shopping_bag_icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.para_animar {
    color: #c4aec8;
    font-size: 14px;
    transition: all ease 0.3s;
}

.mi_boton {
    padding: 10px;
    background-color: #915c9b;
    cursor: pointer;
    transition: all ease 0.3s;
}

.mi_boton:hover {
    background-color: #6e4576;
}

.mi_boton:active {
    background-color: #a666b3;
}

.mi_boton:active .para_animar {
    background-color: #a666b3;
    font-size: 18px;
}