* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.header {
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

.menu_icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.shopping_bag_icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.para_animar {
    color: #c4aec8;
    font-size: 14px;
    transition: all ease 0.3s;
}

.mi_boton {
    padding: 10px;
    background-color: #915c9b;
    cursor: pointer;
    transition: all ease 0.3s;
}

.mi_boton:hover {
    background-color: #6e4576;
}

.mi_boton:active {
    background-color: #a666b3;
}

.mi_boton:active .para_animar {
    background-color: #a666b3;
}

.container_card {
    width: 166px;
    height: 180px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: #43597160 0 2px 6px 0;
    margin: 100px;
    padding: 20px;
}

.card_title {
    color: #697A8D;
    font-size: 15px;
    margin-bottom: 20px;
}

.card_number {
    color: #697A8D;
    font-size: 26px;
    margin-bottom: 20px;
}

.card_blue {
    border-radius: 4px;
    color: #03C3EC;
    font-size: 13px;
    background-color: #03c1ec2f;
    width: 55px;
    height: 22px;
    /* Centrar el texto */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card_footer_title {
    color: #A1ACB8;
    font-size: 13px;
    margin-bottom: 10px;
}

.card_footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.progress_number {
    font-size: 13px;
    color: #697A8D;
}

.progress_bar {
    width: 90px;
    height: 8px;
    background-color: #4359711e;
    border-radius: 4px;
}

.progress_bar_color {
    width: 20px;
    height: 8px;
    background-color: #696CFF;
    border-radius: 4px;
    transition: all ease 0.3s;
}

.progress_bar:hover .progress_bar_color {
    width: 70px;
}